<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h2><%= t('sessions.new.login') %></h2>
        </div>
        <div class="card-body">
          <%= form_with(url: login_path, local: true) do |form| %>
            <div class="mb-3">
              <%= form.label :email, t('sessions.new.email'), class: "form-label" %>
              <%= form.email_field :email, class: "form-control", placeholder: t('sessions.new.email') %>
            </div>

            <div class="mb-3">
              <%= form.label :password, t('sessions.new.password'), class: "form-label" %>
              <%= form.password_field :password, class: "form-control", placeholder: t('sessions.new.password') %>
            </div>

            <div class="mb-3 text-center">
              <%= form.submit t('sessions.new.submit'), class: "btn btn-primary" %>
            </div>
          <% end %>

          <%= link_to t('users.new.sign_up'), register_path, class: "btn btn-secondary mt-3" %>
        </div>
      </div>
    </div>
  </div>
</div>
