<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h2>Modifier le profil</h2>
        </div>
        <div class="card-body">
          <%= form_with(model: @user, url: user_path(@user), local: true) do |form| %>
            <div class="mb-3">
              <%= form.label :first_name, "Prénom", class: "form-label" %>
              <%= form.text_field :first_name, class: "form-control", placeholder: "Entrez votre prénom" %>
            </div>

            <div class="mb-3">
              <%= form.label :last_name, "Nom", class: "form-label" %>
              <%= form.text_field :last_name, class: "form-control", placeholder: "Entrez votre nom" %>
            </div>

            <div class="mb-3">
              <%= form.label :email, class: "form-label" %>
              <%= form.email_field :email, class: "form-control", placeholder: "Entrez votre email" %>
            </div>

            <div class="mb-3">
              <%= form.label :password, "Mot de passe", class: "form-label" %>
              <%= form.password_field :password, class: "form-control", placeholder: "Laissez vide si inchangé" %>
            </div>

            <div class="mb-3">
              <%= form.label :password_confirmation, "Confirmation du mot de passe", class: "form-label" %>
              <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Confirmez votre mot de passe" %>
            </div>

            <div class="mb-3 text-center">
              <%= form.submit 'Mettre à jour', class: "btn btn-primary" %>
            </div>
          <% end %>

          <%= link_to 'Retour', root_path, class: "btn btn-secondary mt-3" %>
        </div>
      </div>
    </div>
  </div>
</div>
