<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h2><%= t('users.new.sign_up') %></h2>
        </div>
        <div class="card-body">
          <%= form_with(model: @user, local: true) do |form| %>
            <div class="mb-3">
              <%= form.label :first_name, t('users.new.first_name'), class: "form-label" %>
              <%= form.text_field :first_name, class: "form-control", placeholder: t('users.new.first_name') %>
            </div>

            <div class="mb-3">
              <%= form.label :last_name, t('users.new.last_name'), class: "form-label" %>
              <%= form.text_field :last_name, class: "form-control", placeholder: t('users.new.last_name') %>
            </div>

            <div class="mb-3">
              <%= form.label :email, t('users.new.email'), class: "form-label" %>
              <%= form.email_field :email, class: "form-control", placeholder: t('users.new.email') %>
            </div>

            <div class="mb-3">
              <%= form.label :password, t('users.new.password'), class: "form-label" %>
              <%= form.password_field :password, class: "form-control", placeholder: t('users.new.password') %>
            </div>

            <div class="mb-3">
              <%= form.label :password_confirmation, t('users.new.password_confirmation'), class: "form-label" %>
              <%= form.password_field :password_confirmation, class: "form-control", placeholder: t('users.new.password_confirmation') %>
            </div>

            <div class="mb-3 text-center">
              <%= form.submit t('users.new.register'), class: "btn btn-primary" %>
            </div>
          <% end %>

          <%= link_to t('sessions.new.login'), login_path, class: "btn btn-secondary mt-3" %>
        </div>
      </div>
    </div>
  </div>
</div>
