<div class="card h-100">
  <div class="card-body">
    <h5 class="card-title"><strong><%= t('books.show.book_details.title') %>:</strong> <%= book.title %></h5>
    <h6 class="card-text"><strong><%= t('books.show.book_details.author') %>:</strong> <%= book.author %></h6>
    <p class="card-text"><strong><%= t('books.show.book_details.publish_year') %>:</strong> <%= book.publish_year %></p>
    <p class="card-text">
      <strong><%= t('books.show.book_details.availability') %>:</strong>
      <% if book_available?(book) %>
        <span class="text-success"><%= t('books.show.book_details.available') %></span>
      <% else %>
        <span class="text-danger"><%= t('books.show.book_details.unavailable') %></span>
      <% end %>
    </p>
  </div>
</div>
