<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, t('errors.template.header.one'), t('errors.template.header.other')) %> <%= t('errors.messages.prohibited', model: t('activerecord.models.book')) %></h2>
      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, t('books.form.enter_title'), class: "form-label" %>
    <%= form.text_field :title, class: "form-control", placeholder: t('books.form.enter_title') %>
  </div>

  <div class="mb-3">
    <%= form.label :author, t('books.form.enter_author'), class: "form-label" %>
    <%= form.text_field :author, class: "form-control", placeholder: t('books.form.enter_author') %>
  </div>

  <div class="mb-3">
    <%= form.label :publish_year, t('books.form.enter_publish_year'), class: "form-label" %>
    <%= form.number_field :publish_year, class: "form-control", placeholder: t('books.form.enter_publish_year') %>
  </div>

  <div class="mb-3 text-center">
    <%= form.submit t('books.form.save_book'), class: "btn btn-primary" %>
  </div>
<% end %>
