<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body d-flex flex-column">
          <h3 class="card-title">Accéder aux Emprunts</h3>
          <p class="card-text">Consultez et gérez vos emprunts de livres.</p>
          <% if current_user %>
            <%= link_to 'Voir mes emprunts', borrows_path, class: 'btn btn-primary mt-auto' %>
          <% else %>
            <p class="card-text text-muted">Veuillez vous connecter pour accéder à vos emprunts.</p>
            <%= link_to 'Se connecter', login_path, class: 'btn btn-primary mt-2' %>
            <%= link_to "S'inscrire", register_path, class: 'btn btn-secondary mt-2' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body d-flex flex-column">
          <h3 class="card-title">Accéder au Catalogue</h3>
          <p class="card-text">Parcourez notre vaste collection de livres disponibles à l'emprunt. Découvrez de nouveaux auteurs et titres dès aujourd'hui.</p>
          <%= link_to 'Voir le catalogue', books_path, class: 'btn btn-primary mt-auto' %>
        </div>
      </div>
    </div>
  </div>
</div>
