<div class="container mt-5">
  <h1 class="mb-4 text-center"><%= t('books.index.title') %></h1>

  <div class="row mb-3">
    <div class="col-12">
      <%= search_form_for @q, url: books_path, method: :get, class: 'form-inline justify-content-center' do |f| %>
        <div class="input-group">
          <%= f.search_field :title_or_author_cont, placeholder: t('books.index.search_placeholder'), class: 'form-control' %>
          <div class="input-group-append">
            <%= f.submit t('books.index.search_button'), class: 'btn btn-outline-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <% @books.each do |book| %>
      <div class="col-md-4 mb-4">
        <%= link_to book, class: 'text-decoration-none card-link' do %>
          <%= render book %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="text-center">
    <%= paginate @books %>
  </div>
</div>
