<div class="container mt-5">
  <h1><%= t('books.new.add_book') %></h1>
  <%= render 'form', book: @book %>
  <%= link_to t('books.new.back_to_books'), books_path, class: 'btn btn-secondary mt-3' %>
</div>
