<div class="container mt-5">
  <div class="card mb-4">
    <div class="card-body">
      <%= render @book %>

      <% if @borrow.persisted? %>
        <%= button_to t('books.show.return_book'), borrow_path(@borrow), method: :delete, class: 'btn btn-danger mt-3' %>
      <% else %>
        <%= form_with model: @borrow, url: borrows_path, local: true do |form| %>
          <%= form.hidden_field :book_id, value: @book.id %>
          <%= form.submit t('books.show.borrow_book'), class: 'btn btn-primary mt-3' %>
        <% end %>
      <% end %>

      <div class="mt-3">
        <%= link_to t('books.show.edit_book'), edit_book_path(@book), class: 'btn btn-warning' %>
        <button class="btn btn-info" data-bs-toggle="collapse" data-bs-target="#borrowHistory" aria-expanded="false" aria-controls="borrowHistory">
          <%= t('books.show.view_borrow_history') %>
        </button>
      </div>
    </div>
  </div>

  <div class="collapse mt-4" id="borrowHistory">
    <div class="card card-body">
      <h3><%= t('books.show.borrow_history.title') %></h3>
      <table class="table">
        <thead>
        <tr>
          <th scope="col"><%= t('books.show.borrow_history.user') %></th>
          <th scope="col"><%= t('books.show.borrow_history.start_date') %></th>
          <th scope="col"><%= t('books.show.borrow_history.end_date') %></th>
        </tr>
        </thead>
        <tbody>
        <% @borrow_history.each do |borrow| %>
          <tr>
            <td><%= borrow.user.first_name %> <%= borrow.user.last_name %> (<%= borrow.user.email %>)</td>
            <td><%= borrow.started_at.strftime("%d/%m/%Y") %></td>
            <td><%= borrow.ended_at.present? ? borrow.ended_at.strftime("%d/%m/%Y") : t('books.show.borrow_history.currently_borrowed') %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
