<div class="col-md-4 mb-4">
  <div class="card h-100">
    <div class="card-body">
      <h5 class="card-title"><strong><%= t('books.show.book_details.title') %>:</strong> <%= borrow.book.title %></h5>
      <p class="card-text"><strong><%= t('books.show.book_details.author') %>:</strong> <%= borrow.book.author %></p>
      <p class="card-text"><strong><%= t('books.show.book_details.publish_year') %>:</strong> <%= borrow.book.publish_year %></p>
      <p class="card-text">
        <strong><%= t('books.show.book_details.availability') %>:</strong>
        <% if book_available?(borrow.book) %>
          <span class="text-success"><%= t('books.show.book_details.available') %></span>
        <% else %>
          <span class="text-danger"><%= t('books.show.book_details.unavailable') %></span>
        <% end %>
      </p>
      <p class="card-text"><strong><%= t('borrows.index.start_date') %>:</strong> <%= borrow.started_at.strftime("%d/%m/%Y") %></p>
      <% if borrow.ended_at.present? %>
        <p class="card-text"><strong><%= t('borrows.index.end_date') %>:</strong> <%= borrow.ended_at.strftime("%d/%m/%Y") %></p>
      <% else %>
        <p class="card-text"><strong><%= t('borrows.index.end_date') %>:</strong> <%= t('borrows.index.currently_borrowed') %></p>
        <%= button_to t('books.show.return_book'), borrow_path(borrow), method: :delete, class: 'btn btn-danger' %>
      <% end %>
    </div>
  </div>
</div>
