<div class="container mt-5">
  <h1><%= t('borrows.index.title') %></h1>

  <ul class="nav nav-tabs" id="borrowTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="active-borrows-tab" data-bs-toggle="tab" href="#active-borrows" role="tab" aria-controls="active-borrows" aria-selected="true"><%= t('borrows.index.active_borrows') %></a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="borrow-history-tab" data-bs-toggle="tab" href="#borrow-history" role="tab" aria-controls="borrow-history" aria-selected="false"><%= t('borrows.index.borrow_history') %></a>
    </li>
  </ul>

  <div class="tab-content" id="borrowTabsContent">
    <div class="tab-pane fade show active" id="active-borrows" role="tabpanel" aria-labelledby="active-borrows-tab">
      <div class="row mt-3">
        <% @active_borrows.each do |borrow| %>
          <%= render 'borrows/borrow', borrow: borrow %>
        <% end %>
      </div>
      <div class="text-center">
        <%= paginate @active_borrows %>
      </div>
    </div>
    <div class="tab-pane fade" id="borrow-history" role="tabpanel" aria-labelledby="borrow-history-tab">
      <div class="row mt-3">
        <% @borrow_history.each do |borrow| %>
          <%= render 'borrows/borrow', borrow: borrow %>
        <% end %>
      </div>
      <div class="text-center">
        <%= paginate @borrow_history, param_name: :history_page %>
      </div>
    </div>
  </div>
</div>
